.form_title {
  p {
    font-size: 2rem;
  }
  .title_icon {
    margin-right: 1rem;
  }
  Button {
    margin-right: 1rem;

    .button_icon {
      margin-right: 0.5rem;
    }
  }
}
.main_form {
  max-width: 70%;

  Button {
    margin-right: 1rem;

    .button_icon {
      margin-right: 0.5rem;
    }
  }
}

.button-save {
  position: flex-end;
}
